#
# Additional package installation/configurations
#

#
# sudoers
#
if [ ! -d /usr/local/etc/sudoers.d ]; then
	mkdir -p /usr/local/etc/sudoers.d
fi
cat <<-EOF> /usr/local/etc/sudoers.d/99local
Defaults timestamp_timeout = 5
Defaults passprompt = "%u@%h SUDO PASSWORD: "
Defaults!/usr/local/bin/rsync !requiretty
$DEFAULT_USER_NAME ALL=(ALL) NOPASSWD:/usr/local/bin/rsync
%wheel ALL=(ALL) ALL
EOF

if [ -n "${PROXY_SERVER}" ]; then
	cat <<-EOF>> /usr/local/etc/sudoers.d/99local
		Defaults env_keep += "http_proxy https_proxy ftp_proxy no_proxy"
	EOF
fi

#
# Change default user's shell to bash.
#
if [ -x /usr/local/bin/bash ]; then
	pw usermod -n $DEFAULT_USER_NAME -s /usr/local/bin/bash
fi

#
# Install the latest ports tree.
#
portsnap fetch extract
